<form [formGroup]="registroEjercicioForm" (ngSubmit)="onSubmit()" class="mb-4 p-4 rounded shadow bg-white">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h4 class="mb-4">{{ idEditando !== null ? 'Ejercicio' : 'Ejercicio' }}</h4>
        <span class="badge bg-gradient-success text-dark ms-2" *ngIf="idEditando !== null">Editando</span>
    </div>
    
    
    <div class="row mb-3">
        <div class="col-md-6 mb-3 mb-md-0">
            <label for="nombre" class="form-label">Nombre</label>
            <input id="nombre" class="form-control" formControlName="nombre" placeholder="Nombre del ejercicio" />
        </div>
        <div class="col-md-6">
            <label for="descripcion" class="form-label">Descripción</label>
            <input id="descripcion" class="form-control" formControlName="descripcion" placeholder="Descripción del ejercicio" />
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <button type="submit" class="btn btn-success me-2" [disabled]="registroEjercicioForm.invalid">
                <i class="bi" [ngClass]="idEditando !== null ? 'bi-pencil-square' : 'bi-plus-circle'"></i>
                {{ idEditando !== null ?  'Actualizar Ejercicio' : 'Crear Ejercicio' }}
            </button>
            
        </div>
        <div>
            <button *ngIf="idEditando !== null" type="button" class="btn btn-secondary me-2" (click)="cancelarEdicion()">
                <i class="bi bi-x-circle"></i> Cancelar
            </button>
            <button *ngIf="idEditando !== null" type="button" class="btn btn-danger" (click)="eliminarEjercicio(ejercicioSeleccionado.codEjercicio)">
                <i class="bi bi-trash"></i> Eliminar
            </button>
        </div>
    </div>
</form>

<div class="card shadow">
    <div class="card-header bg-success text-white">
        <h5 class="mb-0">Lista de Ejercicios</h5>
    </div>
    <div class="card-body p-0">
        <table class="table table-hover mb-0">
            <thead class="table-light">
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ejercicio of ejercicios" (click)="seleccionarEjercicio(ejercicio)" style="cursor:pointer;">
                    <td>{{ ejercicio.nombre }}</td>
                    <td>{{ ejercicio.descripcion }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>