<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-4 mt-5 border-top">
    
    <!-- Texto y logo -->
    <div class="col-md-4 d-flex align-items-center">
      <i class="fa-solid fa-graduation-cap fa-lg" style="color: #155724;"></i>
      <span class="fw-bold text-secondary ms-2" style="font-family: 'Montserrat', sans-serif;">Universidad del Quindío </span>


    </div>

    <!-- Redes Sociales -->
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="text-body-secondary social-icon" href="#"><i class="fa-brands fa-x-twitter fs-5"></i></a>
      </li>
      <li class="ms-3">
        <a class="text-body-secondary social-icon" href="#"><i class="fa-brands fa-instagram fs-5"></i></a>
      </li>
      <li class="ms-3">
        <a class="text-body-secondary social-icon" href="#"><i class="fa-brands fa-facebook fs-5"></i></a>
      </li>
    </ul>

  </footer>
</div>