<div class="container pt-5 pb-5">
  <h5 class="mb-0">
    <i class="fa-solid fa-user-plus me-3"></i>Crear cuenta
  </h5>
  <hr />

  <div class="card-body">
    <form class="row g-3" [formGroup]="registroEntrenadorForm" (ngSubmit)="registrar()" novalidate>

      <div class="col-12 col-sm-6">
        <label class="form-label">Cédula:</label>
        <input class="form-control" type="text" formControlName="usuarioId" />
      </div>

      <div class="col-12 col-sm-6">
        <label class="form-label">Primer Nombre:</label>
        <input class="form-control" type="text" formControlName="primerNombre" />
      </div>

      <div class="col-12 col-sm-6">
        <label class="form-label">Segundo Nombre:</label>
        <input class="form-control" type="text" formControlName="segundoNombre" />
      </div>

      <div class="col-12 col-sm-6">
        <label class="form-label">Primer Apellido:</label>
        <input class="form-control" type="text" formControlName="primerApellido" />
      </div>

      <div class="col-12 col-sm-6">
        <label class="form-label">Segundo Apellido:</label>
        <input class="form-control" type="text" formControlName="segundoApellido" />
      </div>

      <div class="col-12 col-sm-6">
        <label class="form-label">Años de experiencia:</label>
        <input class="form-control" type="number" formControlName="aniosExp" />
      </div>

      <div class="col-12 col-sm-6">
        <label class="form-label">Teléfonos:</label>
        <input class="form-control" type="text" formControlName="telefonos" placeholder="Separados por comas" />
      </div>

      <div class="col-12 col-sm-6">
        <label class="form-label">Ciudad:</label>
        <select class="form-select" formControlName="codCiudad">
          <option *ngFor="let ciudad of ciudades" [value]="ciudad.id">
            {{ ciudad.nombre }}
          </option>
        </select>
      </div>

      <div class="col-12 col-sm-6">
        <label class="form-label">Email:</label>
        <input class="form-control" type="email" formControlName="email" />
      </div>

      <div class="col-12 col-sm-6">
        <label class="form-label">Contraseña:</label>
        <input class="form-control" type="password" formControlName="password" />
      </div>

      <div class="col-12 col-sm-6">
        <label class="form-label">Repetir Contraseña:</label>
        <input class="form-control" type="password" formControlName="confirmarPassword" />
      </div>

      @if (registroEntrenadorForm.hasError('passwordsMismatch')) {
        <div class="col-12">
          <div class="alert alert-danger" role="alert">
            Las contraseñas no coinciden
          </div>
        </div>
      }



      <div class="col-12 text-center">
        <button class="btn btn-primary" type="submit" [disabled]="registroEntrenadorForm.invalid">
          <i class="fa-solid fa-check me-2"></i>Registrar Entrenador
        </button>
      </div>
    </form>

  </div>

</div>