<div class="container mt-5">
  <h5 class="mb-4">
    <i class="fa-solid fa-user me-2"></i> Mi Perfil
  </h5>

  <div class="card shadow-lg p-4 mt-3" [ngSwitch]="rolActual">
    <app-perfil-cliente *ngSwitchCase="'ROLE_CLIENTE'"></app-perfil-cliente>
    <app-perfil-entrenador *ngSwitchCase="'ROLE_ENTRENADOR'"></app-perfil-entrenador>
    <app-perfil-nutricionista *ngSwitchCase="'ROLE_NUTRICIONISTA'"></app-perfil-nutricionista>

    <div *ngSwitchDefault class="text-danger">
      Rol desconocido o no autenticado.
    </div>
  </div>
</div>