<form [formGroup]="registroClienteForm" (ngSubmit)="registrar()" novalidate="">
    <div>
        <label>Cedula:</label>
        <input type="text" formControlName="usuarioId" />
    </div>

    <div>
        <label>Primer Nombre:</label>
        <input type="text" formControlName="primerNombre" />
    </div>

    <div>
        <label>Segundo Nombre:</label>
        <input type="text" formControlName="segundoNombre" />
    </div>

    <div>
        <label>Primer Apellido:</label>
        <input type="text" formControlName="primerApellido" />
    </div>

    <div>
        <label>Segundo Apellido:</label>
        <input type="text" formControlName="segundoApellido" />
    </div>

    <div>
        <label>Fecha de Nacimiento:</label>
        <input type="date" formControlName="fechaNacimiento" />
    </div>

    <div>
        <label>Sexo:</label>
        <select formControlName="sexo">
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
            <option value="Otro">Otro</option>
        </select>
    </div>

    <div>
        <label>Email:</label>
        <input type="email" formControlName="email" />
    </div>

    <div>
        <label>Teléfonos:</label>
        <input type="text" formControlName="telefonos" placeholder="números separados por comas" />
    </div>

    <div>
        <label>Ciudad:</label>
        <select formControlName="codCiudad">
            <option *ngFor="let ciudad of ciudades" [value]="ciudad.id">
                {{ ciudad.nombre }}
            </option>
        </select>
    </div>

    <div>
        <label>Historial Médico:</label>
        <textarea formControlName="historialMedico"></textarea>
    </div>

    <div>
        <label>Peso (kg):</label>
        <input type="number" formControlName="peso" />
    </div>

    <div>
        <label>Altura (cm):</label>
        <input type="number" formControlName="altura" />
    </div>

    <div>
        <label>Contraseña:</label>
        <input type="password" formControlName="password" />
    </div>


    <div>
        <label>Repetir contraseña: </label>
        <input type="password" formControlName="confirmarPassword" />
    </div>
    
    @if (registroClienteForm.hasError('passwordsMismatch')) {
        <p>Las contraseñas no coinciden</p>
        }
        
    <button type="submit" [disabled]="registroClienteForm.invalid">Registrarse</button>
   </form>