.text-gradient-success {
  background: linear-gradient(90deg, #198754 40%, #0f5132 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient-success {
  background: linear-gradient(90deg, #198754 40%, #0f5132 100%);
  color: #fff !important;
}

.bg-gradient-success-2 {
  background: linear-gradient(90deg, #bdc0bf 40%, #2c8079 100%);
  color: #fff !important;
}
.btn-gradient-success {
    background: linear-gradient(90deg, #2ca040 40%, #0e4970 100%);
    color: #fff !important;
}